name: Publish Packages

on:
  workflow_dispatch:
  release:
    types: [published]


permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org

      - name: Publish Release
        id: publish-release
        run: |
          PACKAGE_VERSION="$(node -p 'require("./package.json").version')"

          gh release download "v${PACKAGE_VERSION}" --pattern "juit-libpq-*.tgz"

          # Make sure we have the right files (all or nothing!)
          test -f "./juit-libpq-darwin-arm64-node20-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-darwin-arm64-node22-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-darwin-arm64-node24-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-linux-arm64-node20-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-linux-arm64-node22-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-linux-arm64-node24-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-linux-x64-node20-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-linux-x64-node22-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-linux-x64-node24-${PACKAGE_VERSION}.tgz" || exit 1
          test -f "./juit-libpq-${PACKAGE_VERSION}.tgz" || exit 1

          # Publish them all (if something fails, we can recover manually)
          npm publish "./juit-libpq-darwin-arm64-node20-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-darwin-arm64-node22-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-darwin-arm64-node24-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-linux-arm64-node20-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-linux-arm64-node22-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-linux-arm64-node24-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-linux-x64-node20-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-linux-x64-node22-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-linux-x64-node24-${PACKAGE_VERSION}.tgz"
          npm publish "./juit-libpq-${PACKAGE_VERSION}.tgz"
        env:
          GH_TOKEN: ${{ github.token }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
